<div id="container">
  <mat-card>
    <mat-card-content>
      <h3><b>Lista Persone</b></h3>
      <div class="flex-row align-center">
        <div style="width: 50%;">
            <app-searchbar
              (search)="onSearch($event)"
              [data]="people"
            ></app-searchbar>
        </div>
        <button class="sort-button" mat-raised-button color="primary" (click)="sortByName('asc')">
          Sort ASC
        </button>
        <button class="sort-button" mat-raised-button color="primary" (click)="sortByName('desc')">
          Sort DESC
        </button>
      </div>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Età</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          @for (person of people | async; track $index) {
          <tr>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.age }}</td>
            <td>{{ person.email }}</td>
          </tr>
          } @empty {
          <p>Nessuno elemento trovato.</p>
          }
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<div class="flex-row justify-start">
  <app-new-person></app-new-person>
</div>
