<div id="container">
  <app-searchbar
    (search)="onSearch($event)"
    [data]="filteredPeople"
  ></app-searchbar>
  <mat-card>
    <mat-card-title> </mat-card-title>
    <mat-card-content>
      <h2><b>Persone</b></h2>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Età</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          @for (person of filteredPeople | async; track $index) {
          <tr>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.age }}</td>
            <td>{{ person.email }}</td>
          </tr>
          } @empty {
          <h4>Nessuno elemento trovato.</h4>
          }
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>

  <button (click)="sortByName('asc')">Sort Asc</button>
  <button (click)="sortByName('desc')">Sort Desc</button>
</div>
<div>
  <app-new-person></app-new-person>
</div>
