<div id="container">
  <mat-card>
    <mat-card-title>Aggiungi Persona</mat-card-title>
    <mat-card-content>
      <div id="input-container">
        <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="input-item">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>

          <mat-form-field class="input-item">
            <mat-label>Cognome</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>

          <mat-form-field class="input-item">
            <mat-label>Età</mat-label>
            <input
              matInput
              type="number"
              min="0"
              max="120"
              formControlName="age"
            />
          </mat-form-field>

          <mat-form-field class="input-item">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>

          <button
            class="input-item"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!personForm.valid"
          >
            Submit
          </button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
